$gridBreakpointXs: 576px;
$gridBreakpointSm: 768px;
$gridBreakpointMd: 992px;
$gridBreakpointLg: 1200px;

$gridPageSizeXs: 540px;
$gridPageSizeSm: 720px;
$gridPageSizeMd: 760px;
$gridPageSizeLg: 900px;
